:root {
    --text-color-dark: #121723;
    --text-color-light-1: #FFFFFF;
    --text-color-light-2: #A1A6B4;


    --bg-dark: #121723;
    --bg-light-1: #FFFFFF;
    --bg-light-2: #F1F1F1;
    --bg-light-3: #A1A6B4;
    --bg-light-4-transparent: rgba(230, 232, 236, 40%);


    --fs-2: 48px;
    --fs-3: 36px;
    --fs-4: 30px;
    --fs-5: 26px;
    --fs-6: 20px;
    --fs-7: 16px;

    --lh-2: 100%;
    --lh-3: 36px;
    --lh-4: 30px;
    --lh-5: 26px;
    --lh-6: 28px;
    --lh-7: 16px;
}

@media (max-width: 600px) {
    :root {
        --fs-2: 32px;
        --fs-3: 20px;
        --fs-4: 24px;
        --fs-5: 22px;
        --fs-6: 16px;
        --fs-7: 14px;
    
        --lh-2: 100%;
        --lh-3: 20px;
        --lh-4: 24px;
        --lh-5: 22px;
        --lh-6: 16px;
        --lh-7: 14px;
    }
}

body * {
    font-family: 'Anonymous Pro', monospace;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg-light-2);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-light-2);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-light-3);
    border-radius: 5px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--fs-2);
    line-height: var(--lh-2);
}

h3 {
    font-size: var(--fs-3);
    line-height: var(--lh-3);
}

h4 {
    font-size: var(--fs-4);
    line-height: var(--lh-4);
}

h5 {
    font-weight: 700;
    font-size: var(--fs-5);
    line-height: var(--lh-5);
}

.wrapper {
    height: 100%;
    grid-template-rows: auto 1fr auto;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 150px;
    box-sizing: border-box;
    margin: 0 auto;
}

.section {
    padding: 25px 0;
}

.section__title {
    margin-bottom: 24px;

    color: var(--text-color-dark);
}

@media (max-width: 950px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 16px;
    }
}